@use "./variables" as *;

// @mixin clearFix {
//   &::after {
//     content: "";
//     display: table;
//     clear: both;
//   }
// }

// @mixin floatCol {
//   float: left;

//   &:not(:last-child) {
//     margin-right: $gutter-horizontal;
//   }
// }

@mixin transition($time) {
  transition: all $time;
}
@mixin centerElemet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin resposive($breakpoint) {
  /*
  - xsm
  - sm
  - md
  - lg
  - xlg
  */

  //   xsm
  @if ($breakpoint == xsm) {
    @media (0 <= width <= 767px) {
      @content;
    }
  }
  //   sm
  @if ($breakpoint == sm) {
    @media (768px <= width <= 991px) {
      @content;
    }
  }
  // md
  @if ($breakpoint == md) {
    @media (992px <= width <= 1199px) {
      @content;
    }
  }
  // lg
  @if ($breakpoint == lg) {
    @media (width >= 1200px) {
      @content;
    }
  }
}
