// colors
$Light_green: #7ed56f;
$Medium_green: #55c57a;
$Dark_green: #28b485;
$color-grey-light-1: #f7f7f7;
$Light_green_0_8: rgba(126, 213, 111, 0.8);
$Dark_green_0_8: rgba(40, 180, 133, 0.8);
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$white: #fff;
$gray: #777;
$black: #000;

// grid
$grid-width: 114rem;
$gutter-vartical: 8rem;
$gutter-horizontal: 6rem;
