@use "../abstracts" as *;

.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vartical;
  }

  @include clearFix;

  .col {
    @include floatCol;

    &-1-of-2 {
      width: calc((100% - $gutter-horizontal) / 2);
    }

    &-1-of-3 {
      width: calc((100% - ($gutter-horizontal * 2)) / 3);
    }

    &-2-of-3 {
      width: calc(
        2 * ((100% - ($gutter-horizontal * 2)) / 3) + $gutter-horizontal
      );
    }

    &-1-of-4 {
      width: calc((100% - ($gutter-horizontal * 3)) / 4);
    }

    &-2-of-4 {
      width: calc(
        2 * ((100% - ($gutter-horizontal * 3)) / 4) + $gutter-horizontal
      );
    }

    &-3-of-4 {
      width: calc(
        3 * ((100% - ($gutter-horizontal * 3)) / 4) + ($gutter-horizontal * 2)
      );
    }
  }
}
