@use "../abstracts" as *;
@use "../base" as *;

.card {
  perspective: 100rem;
  height: 50rem;
  color: $white;
  position: relative;
  box-shadow: 0 1.5rem 4rem rgba($color: $black, $alpha: 0.15);
  border-radius: 4px;

  &__side {
    height: 100%;
    transition: all 0.4s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.4s;
    border-radius: 4px;
    backface-visibility: hidden;
  }
  &__side--front {
    background-color: $white;
    color: $black;
    z-index: 1;
  }
  &__side--back {
    transform: rotateY(180deg);
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    h5 {
      font-size: 3rem;
    }
    h2 {
      font-size: 4rem;
    }
    .btn {
      width: 80%;
      text-align: center;
      font-size: 2rem;
    }
  }

  &__picture {
    height: 25rem;
    background-blend-mode: screen;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }
  &__picture--1 {
    background-image: linear-gradient(
        to right,
        $color-secondary-light,
        $color-secondary-dark
      ),
      url("../../img/nat-5.jpg");
  }
  &__picture--2 {
    background-image: linear-gradient(to right, $Medium_green, $Dark_green),
      url("../../img/nat-6.jpg");
  }
  &__picture--3 {
    background-image: linear-gradient(
        to right,
        $color-tertiary-light,
        $color-tertiary-dark
      ),
      url("../../img/nat-7.jpg");
  }

  &__heading {
    font-size: 2rem;
    text-align: right;
    text-transform: uppercase;
    width: 50%;
    color: $white;
    position: absolute;
    top: 14rem;
    right: 4rem;
  }
  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  &__heading-span--1 {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary-light, 0.8),
      rgba($color-secondary-dark, 0.8)
    );
  }
  &__heading-span--2 {
    background-image: linear-gradient(
      to right bottom,
      rgba($Medium_green, 0.8),
      rgba($Dark_green, 0.8)
    );
  }
  &__heading-span--3 {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-tertiary-light, 0.8),
      rgba($color-tertiary-dark, 0.8)
    );
  }
  &__deatails {
    ul {
      list-style: none;
      width: 80%;
      margin: auto;
      font-size: 2rem;
      text-align: center;
      li {
        padding: 0.5rem;
        text-transform: capitalize;
        font-weight: 700;
        &:not(:last-child) {
          border-bottom: 1px solid $gray;
        }
      }
    }
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
    opacity: 0;
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
    z-index: 10;
    opacity: 1;
  }
}
