@use "../abstracts" as *;
@use "../base" as *;

.footer {
  &__nav {
    color: $white;
    border-top: 2px solid #eee;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 2rem;
      padding: 1rem;
      a {
        color: inherit;
        text-decoration: none;
        font-size: 2rem;
        transition: all 0.4s;
        &:hover {
          color: $Dark_green;
        }
      }
    }
  }
  &__copyright {
    padding: 1rem;
    border-top: 2px solid #eee;
    width: 80%;
  }
}
