@use "../abstracts" as *;

.center-text {
  text-align: center;
}

.m-b-8 {
  margin-bottom: 8rem;
}
@for $i from 1 through 10 {
  .m-b-#{$i} {
    margin-bottom: #{$i}rem;
  }
}

// color-secondary gradient
.c-s-g {
  background-image: linear-gradient(
    to right bottom,
    $color-secondary-light,
    $color-secondary-dark
  );
}

// color-tertiary gradient
.c-t-g {
  background-image: linear-gradient(
    to right bottom,
    $color-tertiary-light,
    $color-tertiary-dark
  );
}

// color-green gradient
.c-g-g {
  background-image: linear-gradient(to right bottom, $Light_green, $Dark_green);
}
